@import url("https://fonts.googleapis.com");

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header,
.hero-section,
.footer {
  background-color: #1f2937;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 18px;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
}

.hero-section {
  display: flex;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
